<!-- Arrival data -->

<table class="table table-striped table-hover tab-pane fade show active" border="2px" id="arrival">
  <thead class="table-dark">
      <tr>
          <th>Airlines</th>
          <th>Flight</th>
          <th>Origin</th>
          <th>Estimated Arrival Time</th>
          <th>Update</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
   
    <%flightLib.forEach(flightData => {%>
      <tr>
          <td><%= flightData.airline.name %></td>
          <td><%= flightData.flight.number %></td>
          <td><%= flightData.arrival.timezone %></td>
          <td><%= flightData.arrival.estimated %></td>
          <td><%= flightData.arrival.delay ? `Delayed: ${flightData.delay} (min)` : 'On Time' %></td>
          <td><%= flightData.flight_status %></td>
        </tr>
    <%}); %>
  </tbody>
</table> 