<%- include("partials/header") %>

  <!--BEGAINING of the flight status page hero Section--->    
<section class="business_opportunity_hero_section">
  <!--Call to action text-->
        <article class="business_opportunity_hero_article">
          <div class="business_opportunity_hero_div">
            <h1 id="business_opportunity_hero_text">About Us</h1>
          </div>
        </article>
</section>    
  
  <!--END of the flight status page hero Section----------------------------------------------------------------->    
  
  <!--Home flight Status starts here------------------->
<div class="home_flight_status">
  <div class="home_flight_status_inner">
    <h2>
      <a href="/" class="home">Home</a>
    </h2>
    <span class="home_flight_status_span">&#62;</span>
    <h2>
      <a href="/about" class="flight_status">About Us</a>
    </h2>
  </div>
</div>
  <!--Home flight Status ends here------------------->

 <!--A scroll to the arrow div starts here-->
 <a href="/about" id="scroll_arrow">
  <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>

<!--A scroll to the arrow div ends here-->

 <!----------The History Section---------->
 <section class="about_container">

  <!-- About History Section (only displayed once for the first item) -->
  <% if (ab_content[0]) { %>
    <div class="about_history">
        <div class="about_history_content">
            <h2 class="about_history_label"><%= ab_content[0].label ? ab_content[0].label : 'No Label Provided' %></h2>
            <p class="about_history_para"><%= ab_content[0].content ? ab_content[0].content : 'No Content Available' %></p>
            <div><a href="" class="show_more_link">SHOW MORE &#62;&#62;</a></div> 
        </div>

        <div class="about_history_image">
            <% if (ab_content[0].image) { %>
                <img src="data:<%= ab_content[0].photoType %>;base64,<%= ab_content[0].image.toString('base64') %>" alt="About History Image">
            <% } %>
        </div>
    </div>
  <% } %>

  <!-- About Map Sections (for subsequent items) -->
  <% ab_content.slice(1).forEach(function(item) { %>
    <div class="about_map">
        <div class="about_map_image">
            <% if (item.image) { %>
                <img src="data:<%= item.photoType %>;base64,<%= item.image.toString('base64') %>" alt="About Map Image">
            <% } %>
        </div>

        <div class="about_map_label_container">
            <h2 class="about_map_label"><%= item.label ? item.label : 'No Label Provided' %></h2>
            <p class="about_map_para"><%= item.content ? item.content : 'No Content Available' %></p>
        </div>
    </div>
  <% }) %>

</section>



<!--The Footer Section-->

<%- include("partials/footer") %>
