<%-include("patials/header.ejs") %>

<!--BEGAINING of the flight status page hero Section--->    
<Section class="flight_status_hero_section">
          <div class="flight_status_hero_div">
            <h1 id="flight_status_hero_text">FLIGHT STATUS</h1>
          </div>   
</section>   

<!-- Flight search  -->
<section class="flight_search_section_container container-fluid">
  <div class="flight_search_div1">
          <h2 class="flight_search_label">Flight Search</h2>
          <p class="flight_search_text">Stay Informed of your flight status with real-time updates.</p>
  </div>
  <!--The live info and search bar portion of the flight search section-->
<div class="flight_status_box_shadow">
        <div class="live_flight_n_search_bar">
          <div class="live_flight_paragraph">
              <p>Live Flight Information</p>
          </div>
        
          <form action="" class="flight_status_search_bar_form">
              <input type="text" name="Search" placeholder="Search">
              <i class="fa-solid fa-magnifying-glass flight_search_icon"></i>
          </form>
      </div>

      <!-- Arrival and Departure label  -->
<div class="arrivals_and_departure nav nav-pills" id="myTab">
 
    <div class="nav-item">
    <a href="#arrival" class="arrivals nav-link"><h3 class="arrivals_h3">ARRIVALS</h3></a>
    </div>
    <div class="nav-item"></div>
       <a href="#departure" class="departure nav-link"><h3 class="departure_h3">DEPARTURE</h3></a>
    </div>
     
</div>

<!-- Table for arrivals -->
 <div class="tab-content table-responsive">
  <table class="table table-striped table-hover tab-pane fade show active" border="2px" id="arrival">
  <thead class="table-dark">
      <tr>
          <th>Airlines</th>
          <th>Flight</th>
          <th>Origin</th>
          <th>Estimated Arrival Time</th>
          <th>Update</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
   
    <%flightLib.forEach(flightData => {%>
      <tr>
          <td><%= flightData.airline.name %></td>
          <td><%= flightData.flight.number %></td>
          <td><%= flightData.arrival.timezone %></td>
          <td><%= flightData.arrival.estimated %></td>
          <td><%= flightData.arrival.delay ? `Delayed: ${flightData.delay} (min)` : 'On Time' %></td>
          <td><%= flightData.flight_status %></td>
        </tr>
    <%}); %>
  </tbody>
</table> 

<!-- Departure  -->
<table class="table tab-pane fade" border="2px" id="departure">
  <thead>
      <tr>
          <th>Airlines</th>
          <th>Flight</th>
          <th>Origin</th>
          <th>Estimated Departure Time</th>
          <th>Update</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
 
    <%flightLib.forEach(flightData => {%>
      <tr>
          <td><%= flightData.airline.name %></td>
          <td><%= flightData.flight.number %></td>
          <td><%= flightData.departure.timezone %></td>
          <td><%= flightData.departure.estimated %></td>
          <td><%= flightData.departure.delay ? `Delayed: ${flightData.delay} (min)` : 'On Time' %></td>
          <td><%= flightData.flight_status %></td>
        </tr>
    <%}); %>

  </tbody>
</table> 
 </div>



</div>



</section>
<%-include("patials/footer.ejs") %>