<%- include("partials/header") %>

        <section class="mt-5 visit_monrovia_master">
          <video autoplay muted loop class="video-background">
            <source src="https://videocdn.cdnpk.net/videos/0d5f7cc0-5ca8-4066-bded-e046fc841159/horizontal/previews/watermarked/large.mp4" type="video/mp4">
          </video>
          <!--Call to action text-->
              <article class="content">
                <div class="">
                  <h1 id="">Visit Monrovia</h1>
                </div>
              </article>
          </section> 
  <!--Home Parking------------------->
  <div class="home_flight_status">
    <div class="home_flight_status_inner"><h2><a href="/" class="home">Home</a></h2> <span class="home_flight_span">&#62;</span> <h2><a href="/visit_monrovia" class="flight-status">Parking & Transport</a></h2></div>
  </div>

     <!--A scroll to the arrow div starts here-->
  <a href="/visit_monrovia" id="scroll_arrow">
    <div class="up-arrow">
    <span class="up-arrow-a" >&uparrow; </span>
  </div>
</a>
  
  <!--A scroll to the arrow div ends here-->

  <!----------Hotels Near--------------->
  <div class="hotels-near">
    <div class="hotels_near_in_RIA">
        <h2>Hotels Near in Roberts International Airport</h2>
        <p>Roberts International Aiport is located near the town of Harbel,
            the single runway airport about 35 miles of monronvia.
        </p>
    </div>
    <div class="container mt-5">
      <div class="row">
          <% hotels.forEach(hotel => { %>
              <div class="col-md-6 mb-5">
                  <div class="card h-100 shadow-sm hvr-overline-from-left">
                      <!-- Hotel Image -->
                      <img src="<%= hotel.large_url %>" class="card-img-top hotel_large_image hvr-shrink" alt="Image of <%= hotel.hotel_name %>">
  
                      <div class="card-body">
                          <!-- Hotel Name -->
                          <h5 class="card-title text-primary"><%= hotel.hotel_name %></h5>
  
                          <!-- Location -->
                          <p class="card-text"><small class="text-muted">Location: <%= hotel.location %></small></p>
  
                          <!-- Thumbnail Images -->
                          <div class="d-flex justify-content-between pt-2 hvr-overline-from-left">
                              <% if (hotel.url_1) { %>
                                <img src="<%= hotel.url_1 %>" alt="Thumbnail 1" class="img-thumbnail hvr-grow" style="width: 32%; height: 10rem;">
                              <% } %>
                              <% if (hotel.url_2) { %>
                                <img src="<%= hotel.url_2 %>" alt="Thumbnail 2" class="img-thumbnail hvr-grow" style="width: 32%; height: 10rem">
                              <% } %>
                              <% if (hotel.url_3) { %>
                                <img src="<%= hotel.url_3 %>" alt="Thumbnail 3" class="img-thumbnail hvr-grow" style="width: 32%; height: 10rem">
                              <% } %>
                          </div>
                      </div>
  
                      <!-- Hotel Website Button -->
                      <% if (hotel.website) { %>
                        <div class="card-footer text-center ">
                          <a href="<%= hotel.website %>" class="btn hvr-bounce-to-right" style="width: 100%;">Visit Website</a>
                        </div>
                      <% } %>
                  </div>
              </div>
          <% }); %>
      </div>
  </div>
  

  <%- include('partials/footer') %>
 